Financial remedy prod services
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="FR-COS" data-view="Status" data-title="finrem-case-orchestration-service" data-text="" data-moreinfo="Protip: You can drag the widgets around!" data-href=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="FR-NS" data-view="Status" data-title="finrem-notification-service" data-text="" data-moreinfo="Protip: You can drag the widgets around!" data-href=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="FR-DGCS" data-view="Status" data-title="finrem-document-generator-client" data-text="" data-moreinfo="Protip: You can drag the widgets around!" data-href=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="FR-EMCA" data-view="Status" data-title="finrem-evidence-management-client-api" data-text="" data-moreinfo="Protip: You can drag the widgets around!" data-href=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="FR-PS" data-view="Status" data-title="finrem-payment-service" data-text="" data-moreinfo="Protip: You can drag the widgets around!" data-href=""></div>
    </li>
  </ul>
</div>